.container-fluid {
  height: 100vh;
}
.logo {
  height: 10vh;
  text-align: center;
  display: inline-block;
  box-shadow: 8px -8px 10px 0px;
}
.logo img {
  height: inherit;
  text-align: center;
}
.row .d-flex .col-3 {
  height: 90vh;
  box-shadow: 9px 5px 10px 0px;
}
.row .col-9 {
  height: 90vh;
  background-color: #c1c1e946;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #0d6efd78 !important;
  border-radius: 0px;
  color: #000000db !important;
  border-left: 3px solid #0d6efd;
}
.nav-link {
  color: #768396 !important;
}
.nav-link i {
  font-size: 1.5rem;
}
.nav-link span {
  font-size: 0.8rem;
}
#v-pills-profile .videos {
  cursor: pointer;
}
.videos .container {
  text-align: center;
}
.videos .content {
  color: #262a31 !important;
}
.videos .container input {
  border: none;
  background-color: #fff;
  width: 80%;
  padding: 0.6rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 10px #3e35350d;
  margin: 0 0 20px 0;
}
.videos .container input:focus {
  border: none !important;
  outline: none;
}
.videos .container input::placeholder {
  color: #262a31 !important;
}
.videos .container .upload {
  background-color: #fff;
  text-align: left !important;
  padding: 2rem;
  display: inline-block;
  float: left;
  margin-left: 10%;
}
